
.my-logo {
    width: 120px;
}

.my-color {
    background-color: #d94350 !important;
}

.my-bg-red {
    background-color: #d94350 !important;
}

.my-badge-reply {
    background-color: #d94350;
}

.my-badge-delivery {
    background-color: #82b464;
}

.my-badge {
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.my-border-none {
    border: none !important;
}

.my-color-text-title {
    color: #bbbbbb !important;
}

.my-card-title {
    font-size: 20px;
}

.my-mt-container {
    margin-top: 80px;
}

.my-icon-card {
    height: 24px;
    width: 24px;
    align-self: center;
}

.form-control, .form-select {
    background: #eeeeee !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-group > .btn {
    background-color: #eeeeee;
    border: none;
}

.input-group > .btn:hover {
    background-color: #eeeeee;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>
.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, 
.form-floating>.form-select~label::after {
    background-color: #e9e9e9 !important;
}

.dropdown-menu {
    left: -250% !important;
}