
body {
    font-family: source;
}
.logo {
    width: 120px;
}

.my-color {
    background-color: #d94350 !important;
}

.form-control, .form-select {
    background: #eeeeee !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.input-group > .btn {
    background-color: #eeeeee;
    border: none;
}

.input-group > .btn:hover {
    background-color: #eeeeee;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>
.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, 
.form-floating>.form-select~label::after {
    background-color: #e9e9e9 !important;
}

.dropdown-menu {
    left: -250% !important;
}

.my-border-none {
    border: none !important;
}

.card-title {
    color: #bbbbbb !important;
    font-size: 24px;
}

.my-shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}